<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }} - Khawla Jaffel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body class="is-preload">
<div id="page-wrapper">

<!-- Header -->
<div id="header">

<header>
<h2><a href="/index.html" id="logo">Khawla Jaffel</a></h2>
<p>
Particle Physicist — Postdoc at CERN & KBFI/NICPB (Tallinn). <br>
Member of CMS Experiment at CERN.
</p>
</header>

<nav id="nav">
<ul>
<li><a href="/index.html">Home</a></li>
<li><a href="/education.html">Education</a></li>
<li><a href="/talks.html">Talks</a></li>
<li><a href="/blog.html">Blog</a></li>
<li><a href="/contact.html">Contact</a></li>
</ul>
</nav>

</div>

<!-- Page content inserted here -->
<section class="wrapper style1">
<div class="container">

{{ content }}

</div>
</section>

<!-- Footer -->
<div id="footer">
<div class="container">

<ul class="icons">
<li><a href="https://twitter.com/khawlajaffel" class="icon brands fa-twitter"></a></li>
<li><a href="https://github.com/kjaffel" class="icon brands fa-github"></a></li>
<li><a href="https://www.linkedin.com/in/khawla-jaffel-b726a414a/" class="icon brands fa-linkedin-in"></a></li>
</ul>

<div class="copyright">
<ul class="menu">
<li>© 2026 Khawla Jaffel</li>
<li>Powered by HTML5 UP</li>
</ul>
</div>

</div>
</div>

</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
